* {
  margin: 0;
  padding: 0;
}
a {
  /* text-decoration: underline; */
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header {
  margin-top: 1pc;
  margin-bottom: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a1 {
  color: #1d2830;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  letter-spacing: -1.44px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.a2 {
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  border: none;
  background: #00000000;
}
.a3 {
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}
.header-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.a4 {
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}
.a5 {
  width: 169px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #ece5ff;
  color: #794cff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
/* SAVE START */
.save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.save-block button {
  margin-left: 180px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 100% */
  width: 108px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #81c43b;
}
.save-block a {
  color: #35414b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: 209px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 0px 100px 100px 0px;
  background: #f2f9eb;
}
.save-block h1 {
  color: #35414b;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}
.save-block p {
  color: #4e5a65;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.gg input {
  text-align: center;
  width: 230px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #e1e5ea;
  background: #fff;
  color: #97a5b5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.gg button {
  width: 164px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #794cff;
  background: #794cff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
/* SAVE END */
#over {
  padding: 50px;
}
.over {
  margin-left: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trus-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trus-block p {
  gap: 30px;
  color: #4e5a65;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #4e5a65;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}
.trus-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10pc;
}

.trus-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tima {
  padding: 80px;
}
.tima {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hh p {
  position: relative;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #f6f3fc;
  background: #f6f3fc;
}
.line {
  right: 40pc;
  top: 99pc;
  position: absolute;
  width: 8px;
  height: 128px;
  flex-shrink: 0;
  background: #794cff;
}
.tima-tex {
  width: 308px;
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.tima-tex span {
  color: #35414b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

#megumi {
  padding: 60px;
}
.work {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.megumi-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.megumi-text h1 {
  color: #35414b;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120px;
}
.megumi-block h3 {
  color: #35414b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
}
.megumi-block p {
  width: 306px;
  height: 48px;
  flex-shrink: 0;
  color: #4e5a65;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.megumi-img {
  padding: 40px;
}
#work {
  padding: 20px;
}
.work-text {
  display: flex;
}
.work-block h1 {
  margin: 30px 0;
  color: #35414b;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.work-block p {
  margin: 30px 0;
  width: 413px;
  color: #4e5a65;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.work-block button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: 164px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #796eff;
}
/* WORK END*/
#why {
  padding: 40px;
}
.why-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-block h1 {
  color: #35414b;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
}
.why-block p {
  margin-bottom: 35px;
  padding-top: 30px;
  color: #4e5a65;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.line1 {
  width: 264px;
  height: 4px;
  flex-shrink: 0;
  background: #35414b;
}
.why-text p {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.why-text h6 {
  color: #4e5a65;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
/* APP START */
#app {
  padding: 30px;
}
.app-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-block {
  width: 1110px;
  height: 224px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #796eff;
}
.app-text h1 {
  padding: 0 90px;
  align-items: center;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.google {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 65px;
}
/* APP END */
#footer {
  padding: 60px;
  background: #1d2830;
}
.foot-block {
  display: flex;
  gap: 241px;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
}
